@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container {
  position: relative;

  background-color: white;
  width: 50%;
  top: -100%;
  right: 0;
  left: 0;
  bottom: 0;
}

.show-container {
  top: 5rem;
  z-index: -99;
}
