@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container {
  position: absolute;
  overflow: hidden;
  width: 60%;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-container {
  top: 1rem;
  z-index: 99;
  background-color: white;
}
